@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

/* GLOBAL */

html {
    font-size: 62.5%;
    animation-name: fade;
    animation-duration: 0.5s;
}

html,
body
{
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}

a,
p {
    font-family: 'Incosolata', monospace;
}

body {
    font-size: 1.8rem;
    background-color: #272822;
    overflow: hidden;
}   

body {
    background-image: url(/img/background/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

li,
a {
    text-decoration: none;
    list-style-type: none;
}

/* Container */

/* menu-bar global*/
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 980px;
    margin: auto;
}

header img {
    width: 4.0rem;
    height: 4.0rem;
}

header img {
    max-width: 100%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

header img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.15);
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: #E6E7D2;
    padding: 2.5rem;
    
    font-size: 1.8rem;
    font-weight: bold;
    
    transition: all 0.4s ease-out;
}

header nav ul li a:hover {    
    color: #ffe100;
}

header button {
    background-color: #ffe100;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0.8rem 1.6rem #ff272822;

    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    font-weight: bold;

    width: 10.0rem;
    height: 2.5rem;
}


header button:hover {
    cursor: pointer;
    color: #E6E7D2;
    background-color: #3591F6;
    
    transition: all 0.2s ease-out;
}
 
/* HOME */
main .container p {
    font-size: 4.8rem;
    font-weight: bold;
    color: #E6E7D2;
}

.box-photo img {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 15rem;
    height: 15rem;

    border: none;
}

main .box-photo {
    
    width: 16rem;
    height: 16rem;
    border-radius: 10rem;

    box-shadow: 0 0.4rem 1.6rem -0.8rem rgba(1, 1, 1, .3);
    
    background-color: #E6E7D2;
    opacity: 1;

    display: inline-block;
}

main .box-photo:hover {
    background-color: #3591F6;
    transition: all 0.4s;

}

main .container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    
    line-height: 4.6rem;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer .social-media {

    width: 90%;
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer .social-media img {
    width: 3.0rem;
    height: 3.0rem;
}
footer .social-media img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;;
}

footer .social-media img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

footer .social-media a {
    padding: 0.4rem;
}


footer .social-media ul {
    display: flex;
    justify-content: space-between;
}

footer .social-media ul li {
    padding: 0.4rem;
}

footer .social-media ul li a:hover {
    transition: all 0.4s ease-out;
    transform: scale(1.5)
}


/* ABOUT-ME */
#abtm-main {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;

    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#abtm-main p {
    font-size: 3.0rem;
    font-weight: bold;

    color: #E6E7D2;
}


/* PORTFOLIO */

#port-main {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 1.0rem;
    
    padding: 3.5rem;
    
    justify-content: space-evenly;
    
}

#port-main .port-size {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#port-main img {
    height: 20.0rem;

    box-sizing: border-box;
    box-shadow: 0 0.4rem 1.6rem -0.8rem rgba(1, 1, 1, .3);

    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#port-main img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}




/* SKILLS */
#skills-main {
    width: 90%;    
    max-width: 980px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

    grid-gap: 7.0rem;
}

.card {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills-main img {
    width: 18rem;
    height: 18rem;
}

#skills-main img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#skills-main img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* MODAL */
#modal {
    animation-name: modal;
    animation-duration:  0.3s;

    height: 100vh;
    width: 100vw;

    background: rgba(0, 0, 0, .5);
    position: fixed;

    z-index: 5;
    top: 0px;
    left: 0px;

    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 1.3rem;
}

#modal .content {
    background: #3591F6;
    color: #E6E7D2;
    
    width: 25%;

    font-weight: bold;

    padding: 1.0rem;
    border-radius: 1.0rem;
}

#modal .input-wrapper {
    width: 100%;
    padding: 1.0rem;

}

#modal .form-contact-input {

    width: 100%;

    height: 4.0rem;
    
    padding: 1.0rem;

    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    font-weight: bold;

    border: none;
    border-radius: 0.8rem;

}

#modal .form-contact-textarea {

    width: 100%;
    padding: 1.0rem;
    
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    font-weight: bold;

    border-radius: 1.0rem;

}

#modal button {
    
    font-family: 'Incosolata', monospace;
    font-weight: bold;
    font-size: 1.4rem;
    
    color: #505248;
    
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    width: 30%;    
    height: 2.5rem;

}

#modal .button-footer {

    display: flex;
    justify-content: space-evenly;
}

#modal button:hover {
    color: #272822;    
    background: #ffe100;
    transition: all 0.4s ease-out;
}

#modal .content button {
    margin: 0.5rem;
}

#modal.show {
    display: flex;
}


/* Resposive Screen */
@media (max-width: 1366px) {

}
@media (max-width: 800px) {
    html {
        font-size: 50%;
    }
    #modal .content {
        width: 60%;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 512px) {
    html {
        font-size: 40%;
    }
    #port-main img {
        width: 40rem;
        height: 20rem;
    }
}

@media (max-width: 440px) {
    /* Portfolio */
    #port-main img {
        width: 35rem;
        height: 18rem;
    }

    /* Skills */
    header img {
        width: 6.4rem;
        height: 6.4rem;
    }

    /* home */
    main .container p {
        line-height: 140.6%;
    }

    /* about-me */
    #abtm-main p {
        line-height: 140.6%;
    }

    /* linkedin and github */
    footer .social-media img {
        width: 4.0rem;
        height: 4.0rem;
    }


    /* Responsive Nav */
    nav {
        display: none;
    }

    .menu-toggle {
        width: 35px;
    }

    .one,
    .two,
    .three {
        background-color: #E6E7D2;
        
        height: 5px;
        width: 100%;
        
        margin: 6px auto;
        border-radius: 10px;

        transition-duration: 0.3s;
    }

    /* fullscreen */
    
    .menu-section.on .one,
    .menu-section.on .two,
    .menu-section.on .three {
        background-color: #444444;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100vw;
        height: 100vh;
        
        background-color: #ffe100;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;

        transition-duration: 0.3s;
    }
    
    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 20px;
        top: 4px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px)
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        color: #444444;
        
        transition-duration: 0.5s;
        
        font-size: 3rem;
        line-height: 5rem;
        
        display: block;
    }



    .menu-section.on nav ul a button {
        color: #E6E7D2;
        
        width: 18.0rem;
        height: 5rem;
        
        font-size: 3rem;
        border-radius: 1.0rem;

        background-color: #3591F6;
    }

    #modal .content.on {
        width: 100vw;
        height: 100vh;
    }
    #modal .input-wrapper.on {
        width: 250px;

        display: block;
        margin: 0 auto;

        padding: 4rem;
    }

}

@media (max-width: 320px) {

}